@import '../../styles/colors';
@import '../../styles/layout';

.labels{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
    label:first-child{
        color: $gray-60;
        margin-right: 2rem;
    }
    label:last-child{
        font-size: 2rem;
        color: $vivid;
        font-weight: 700;
    }
}

.range{
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    p{
        color: $gray-40;
        line-height: 0;
    }
}

.slider_wrapper{
    position: relative;
    display: flex;
    align-items: center;
}

@mixin rail {
    height: 2px; /* Specified height */
    border-radius: .1rem;
    position: absolute;
}

.rail_before{
    @include rail;
    background: $vivid; /* Grey background */
    left: 0;
}

.rail_after{
    @include rail;
    background: $gray-20;
    right: 0;
}

@mixin track {
    width: 100%; /* Full-width */
    height: 1.5rem; /* Specified height */
    border-radius: .1rem;
    appearance: none;
    outline: none; /* Remove outline */
    cursor: pointer;
    z-index: 1;
}

@mixin thumb {
    width: 1.5rem; /* Set a specific slider handle width */
    height: 1.5rem; /* Slider handle height */
    position: relative;
    background: white;
    border: 2px solid $vivid;
    border-radius: 50%;
    // margin-top: calc(-.75rem + 1px);
    cursor: pointer; /* Cursor on hover */
    z-index: 1;
}


.slider{
    margin-bottom: 2rem;

    //   CHROME, SAFARI,OPERA
    input[type=range] {
        -webkit-appearance: none;  /* Override default CSS styles */
        width: 100%;
        display: flex;
        align-items: center;
    }

    input[type=range]::-webkit-slider-runnable-track {
        @include track;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        @include thumb;
    }

    input[type=range]:focus {
        outline: none;
    }

    // FIREFOX

    input[type=range]::-moz-range-track {
        @include track;
    }

    input[type=range]::-moz-range-thumb {
        @include thumb;
    }

    // IE 10+

    input[type=range]::-ms-track {
        @include track;
        background: transparent;
    }

    input[type=range]::-ms-fill-lower {
        background: $vivid;
    }

    input[type=range]::-ms-fill-upper {
        background: $gray-20;
    }

    input[type=range]::-ms-thumb {
        @include thumb;
    }
}
