@import '../../styles/layout';
@import '../../styles/colors';

.navbar{
    background: $p;
    min-height: $nav-height;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 10;
    transition: top .4s;
    a:hover{
        color: $vivid;
    }
}

.visible{
    top: 0;
    box-shadow: 0 2px 3px $gray-20;
}

.hidden{
    top: -$nav-height;
}

.inner{
    @include margins;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
    align-items: center;
    button{
        color: white;
    }
    button:hover{
        background: $v-20;
    }
    a{
        display: flex;
        align-items: center;
        color: white;
        min-height: $nav-height;
    }
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
        display: none;
    }
}

.links{
    display: none;
}

.logo{
    margin-left: 1rem;
}

.dropdown{
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    a{
        flex-shrink: 0;
    }
}

.dropdown_content{
    display: none;
    position: absolute;
    background: $p;
    left: -1rem;
    top: 90%;
    padding: .5rem 0;
    min-width: 13rem;
    border-radius: .25rem;
    box-shadow: 0px 0px 3px $gray-20;
    a{
        min-height: auto;
        padding: 1rem 1rem;
        border-bottom: 1px solid $v-20;
    }
    a:hover{
        background: $v-20;
        border-bottom: none;
    }
    a:last-child{
        border-bottom: none;
    }
}

.dropdown:hover {
    color: $vivid;
    .dropdown_content{
        display: block;
    }
}

.underlay{
    z-index: 11;
    position: fixed;
    top: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    background: $gray-80;
    border: none;
    border-radius: none;
}

@mixin drawer{
    z-index: 12;
    position: fixed;
    top: 0;
    background: $p;
    width: $drawer-width;
    max-width: $max-drawer-width;
    height: 100vh;
    padding: 2rem;
    overflow: scroll;
    transition: left .2s;
    display: flex;
    flex-direction: column;
    a{
        color: white;
    }
}

.drawer_open{
    @include drawer();
    left: 0;
    box-shadow: 6px 0 8px $gray-30;
}

.drawer_closed{
    @include drawer();
    left: -$max-drawer-width;
}

.drawer_links{
    a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 3rem;
        flex-grow: 1;
    }
}

.drawer_link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $v-20;
    a{
        font-size: 1rem;
        font-weight: 700;
    }
    button{  
        color: white;
    }
    button:hover {
        background: $v-20;
    }
}

.drawer_dropdown{
    a{
        border-bottom: 1px solid $v-20;
        padding-left: 1.5rem;
    }
}

.drawer_logo{
    width: 100%;
    max-width: 10rem;
    margin-bottom: $padding-s;
    img{
        width: 100%;
    }
}

.drawer_login{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: $padding-s;
    a{
        margin: .5rem 0;
    }
}

.flipped{
    transform: rotate(180deg);
}

@media screen and (min-width: 64rem){
    .menu{
        display: none;
    }
    .logo{
        margin-left: 0;
    }
   .links{
        display: flex;
        margin-left: 2.5rem;
   }
   .links > * {
       margin-right: 2rem;
   }
   .right{
       a{
            display: flex;
            align-items: center;
            color: white;
            margin-right: .5rem;
            background: $p;
        }
        a:hover{
            background: $p-darker;
            color: white;
        }
   }
   .underlay{
       display: none;
   }
   .drawer_open, .drawer_closed{
       display: none;
   }
}

@media screen and (max-width: 25rem){
    .right{
        display: none;
    }
}