@import '../../styles/layout';
@import '../../styles/colors';

.navbar{
    background: $p;
    min-height: $nav-height;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    z-index: 999;
    a{
        font-size: .875rem;
        color: white;
    }
}

.inner{
    @include margins;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
    align-items: center;
    button:hover{
        background: $vivid;
    }
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
        display: none;
    }
}

.links{
    display: none;
}

.logo{
    margin-left: 1rem;
}

@media screen and (min-width: 64rem){
    .left{
        button{
            display: none;
        }
    }
   .links{
        display: flex;
        color: white;
        margin-left: 2.5rem;
        
        li{
            margin-right: 2rem;
        }
   }
   .right{
       a{
           display: block;
           margin-right: 1.5rem;
       }
   }
}