$vivid: #1594E0;
$s: #FF8C00;
$p: #002A42;

$gray-80: rgba(0,0,0,.8);
$gray-70: rgba(0,0,0,.7);
$gray-60: rgba(0,0,0,.6);
$gray-50: rgba(0,0,0,.5);
$gray-40: rgba(0,0,0,.4);
$gray-30: rgba(0,0,0,.3);
$gray-20: rgba(0,0,0,.2);
$gray-10: rgba(0,0,0,.1);

$v-20: rgba(21, 148, 224, .2);

.vivid{
    background: $vivid;
}

.orange{
    background: $s;
}

.text-60{
    color: $gray-60;
}
