@import './fonts';
@import './colors';
@import './layout';
@import './buttons';

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
}

ul{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
  list-style-type: none;
}

#cta{
  @include margins;
  h2{
    margin-bottom: $padding-xs;
  }
  p{
    margin-bottom: $padding-s;
  }
  button{
    display: inline-flex;
  }
  button:first-child{
    margin-right: 1rem;
  }
}