@import './fonts';
@import './colors';
@import './layout';
@import './buttons';

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#cta{
  @include margins;
  h2{
    margin-bottom: $padding-xs;
  }
  p{
    margin-bottom: $padding-s;
  }
  button{
    display: inline-flex;
  }
  button:first-child{
    margin-right: 1rem;
  }
}